@import "./home.scss";
@import "./about.scss";
@import "./service.scss";
@import "./portfolio.scss";
@import "./contact.scss";
@import "./footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=MuseoModerno:wght@500&family=Sansita+Swashed&display=swap');
$background: "https://images.pexels.com/photos/1764702/pexels-photo-1764702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
    /* The image used */
    background-image: url($background);

    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}