.services {
  // background: #ae0404db;
  color: #fff;
  position: relative;
  height: 100%;
  .services__container {
    background: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
    h1 {
      font-size: 50px;
    }
    .services__grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 700px;
      .services__left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 50px;
        .services__content {
          display: flex;
          align-items: flex-start;
          img {
            width: 130px;
            margin-right: 50px;
          }
          .services__desc {
            h2 {
              font-size: 16px;
              text-transform: uppercase;
              margin-bottom: 16px;
            }
            p {
              line-height: 2;


            }
          }
        }
      }
      .services__right {
        overflow: hidden;
        .macbook {
          background-position: center;
          background-size: cover;
          border-radius: 5px;
        }
      }
    }
  }
  .yellow__bar {
    position: absolute;
    background: yellow;
    height: 80px;
    bottom: -40px;
    right: 0;
    width: 80%;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    image {
      margin: 0 40px;
      font-size: 50px;
    }
    p {
      margin-right: 40px;
      font-size: 700;
      text-transform: uppercase;
    }
    span {

    }
  }
}

@media screen and (max-width: 1000px) {
  .services {
    .services__container {
      h1 {

      }
      .services__grid {
        grid-template-columns: 1fr;
        .services__left {
          .services__content {
            img {

            }
            .services__desc {
              h2 {

              }
              p {

              }
            }
          }
        }
        .services__right {
          .macbook {
            display: none;
          }
        }
      }
    }
    .yellow__bar {
      width: 100%;
      justify-content: flex-start;
      image {

      }
      p {

      }
      span {

      }
    }
  }
}


@media screen and (max-width: 468px) {
  .services {
    .services__container {
      padding-top: 100px;
      padding-bottom: 160px;
      padding-left: 16px;
      h1 {
        margin-bottom: 160px;
        text-align: center;
        
      }
      .services__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 900px;
        .services__left {
          padding: 0 24px;
          .services__content {
            margin-top: 40px;
            img {
              margin-right: 16px;
            }
            .services__desc {
              h2 {

              }
              p {

              }
            }
          }
        }
        .services__right {
          .macbook {
            
          }
        }
      }
    }
    .yellow__bar {
      image {
        margin: 0 20px;
      }
      p {
        margin-right: 20px;
      }
      span {
        
      }
    }
  }
}